/*=======================*/
/* MIXINS
/*=======================*/
/*=======================*/
/* GENERAL RULES
/*=======================*/
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #DDD;
  color: #222;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

body {
  background: url(../img/mwpsb_logo.svg) no-repeat, url(../img/bg.jpg) no-repeat;
  background-size: 180px 180px, cover;
  background-position: calc(100% - 2em) calc(100% - 2em), 50% 100%;
  background-blend-mode: overlay; }

body.moving {
  cursor: move;
  cursor: -webkit-grabbing; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: #37AEB8; }

button {
  border: none;
  background: none;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  text-transform: inherit;
  display: block;
  color: inherit;
  position: relative; }

::-moz-selection {
  background: #37AEB8;
  color: #FFF;
  text-shadow: none; }

::selection {
  background: #37AEB8;
  color: #FFF;
  text-shadow: none; }

/* Responsive fixes ------------*/
@media (max-width: 1024px) {
  html, body {
    font-size: 12px; } }
@media (orientation: portrait) {
  html.isTablet body:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95) url(../img/rotateTablet.png) no-repeat 50% 50%;
    top: 0;
    left: 0;
    z-index: 9999; }

  html.isTablet body * {
    display: none; } }
html.isPhone body:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95) url(../img/logo.png) no-repeat;
  background-position: 50% calc(50% - 1em);
  background-size: 90%;
  top: 0;
  left: 0;
  z-index: 9998; }

@media (orientation: landscape) {
  html.isPhone body:after {
    background-position: 50% calc(50% - 3em); } }
html.isPhone body:before {
  content: "desktop and tablet only";
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #37AEB8;
  font-size: 2em;
  z-index: 9999;
  top: calc(50% + 1em);
  padding: 8px;
  box-sizing: border-box;
  font-weight: 700;
  font-style: italic; }

html.isPhone body * {
  display: none; }

/*=======================*/
/* COMPONENTS
/*=======================*/
/* Containers ------------*/
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-opacity .2s .4s ease-out, transform .2s .4s ease-out;
  -moz-transition: -moz-opacity .2s .4s ease-out, transform .2s .4s ease-out;
  -ms-transition: -ms-opacity .2s .4s ease-out, transform .2s .4s ease-out;
  -o-transition: -o-opacity .2s .4s ease-out, transform .2s .4s ease-out;
  transition: opacity .2s .4s ease-out, transform .2s .4s ease-out; }

.screen.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: -webkit-opacity .2s ease-out, transform .2s ease-out;
  -moz-transition: -moz-opacity .2s ease-out, transform .2s ease-out;
  -ms-transition: -ms-opacity .2s ease-out, transform .2s ease-out;
  -o-transition: -o-opacity .2s ease-out, transform .2s ease-out;
  transition: opacity .2s ease-out, transform .2s ease-out; }

.overlay {
  z-index: 9999;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px); }

.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.overlay.active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.container {
  width: 80em;
  height: 40em;
  position: absolute;
  left: calc(50% - 40em);
  top: calc(50% - 20em); }

@media (max-height: 768px) and (min-width: 1366px) {
  .container {
    top: calc(50% - 17.5em); } }
.screen h1 {
  color: #CCC;
  font-weight: 700;
  font-size: 1.5em;
  padding: 0 0 8px 48px;
  text-transform: none;
  margin-bottom: 32px;
  position: relative; }

.screen h1:before {
  content: "";
  position: absolute;
  width: 97.5%;
  right: 0;
  background: currentColor;
  height: 2px;
  bottom: 0; }

.screen h1:after {
  content: "";
  position: absolute;
  width: .4em;
  height: 1em;
  background: currentColor;
  left: .4em;
  transform: skewX(-45deg); }

/* Panels ------------*/
.panel, .credits {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  color: #999; }

.panel {
  padding: 60px 24px 24px;
  line-height: 1.25em;
  background: rgba(255, 255, 255, 0.05); }

.panel h2, .table .title {
  font-style: italic;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.5);
  color: #CCC; }

.panel h2 {
  padding: 8px;
  margin-bottom: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.panel p {
  width: 100%; }

.panel li {
  position: relative;
  padding-left: 40px;
  font-family: "Abel"; }

.panel li:after {
  content: attr(data-shortcut);
  position: absolute;
  left: 0;
  top: 0;
  color: #37AEB8;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: italic; }

/* Columns, Rows & Tables ------------*/
.colContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between; }

.col {
  position: relative;
  display: inline-block; }

.rowContainer {
  display: flex;
  flex-direction: column; }

.table {
  position: relative; }

.table .row:not(.title) {
  font-family: "Abel", sans-serif;
  color: #37AEB8;
  font-size: 1.125em; }

.table .row:not(.title):nth-child(2n+1) {
  background: rgba(255, 255, 255, 0.05); }

.table .col {
  padding: 8px 8px 8px 12px; }

.table .col:not(:first-child):after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0; }

/* Common styles ------------*/
.brightBlue {
  color: #37AEB8; }

.italic {
  font-style: italic; }

.w700 {
  font-weight: 700; }

/* Logo ------------*/
.logo {
  width: 648px;
  height: 73px;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

/* CTA ------------*/
.cta {
  background: rgba(255, 255, 255, 0.075);
  color: #CCC;
  font-style: italic;
  font-weight: 700;
  height: 40px;
  width: 150px;
  text-align: left;
  font-size: 1.125em;
  padding-left: 24px;
  z-index: 0;
  margin-top: 32px;
  transition: all .25s .5s ease-out; }

/*=======================*/
/* SCREEN : ABOUT
/*=======================*/
#screen_about .logo {
  width: 375px;
  height: 55px;
  margin-bottom: 55px; }

#screen_about .col {
  height: calc(100% - 110px);
  vertical-align: bottom; }

#screen_about .col1 {
  width: 375px; }

#screen_about .col2 {
  width: 485px;
  margin-left: 15px; }

#screen_about .rowContainer {
  height: 370px; }

#panel_keyboards, #panel_shortcuts {
  flex: 1; }

#panel_mouse {
  height: 150px; }

#panel_mouse p {
  font-family: "Abel", sans-serif; }

#panel_mouse span {
  font-family: "Open Sans"; }

#panel_shortcuts ul {
  display: inline-block; }

#panel_shortcuts ul:first-of-type {
  margin-right: 24px; }

#panel_shortcuts li {
  padding-left: 80px; }

.panel .note {
  font-size: 0.75em;
  line-height: 1.175em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px 0 8px 16px;
  border-left: 8px solid #37AEB8; }

.credits, .info {
  padding: 8px; }

.credits {
  background: rgba(0, 0, 0, 0.5); }

.credits .label {
  font-style: italic;
  font-size: 0.875em;
  font-weight: 600;
  color: #CCC; }

.credits .value {
  font-family: "Abel", sans-serif;
  float: right;
  transition: color .3s ease-out; }

.credits.inspiration {
  cursor: pointer; }

.credits.inspiration:hover .value {
  color: #37AEB8; }

#glitch {
  width: 100%; }

.info {
  background: #37AEB8;
  color: #222;
  font-style: italic;
  font-size: 0.875em;
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-15px);
  transition: background .15s ease-out, opacity 1s ease-out, transform 1s ease-out; }

.info:hover {
  background: #CC5880; }

body.loaded .info {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0); }

#loading {
  color: #CCC;
  border-bottom: 1px currentColor solid;
  padding-bottom: 8px; }

#loading .label {
  text-transform: none;
  font-size: 2em;
  font-weight: 300;
  vertical-align: super; }

#loading .value {
  float: right;
  text-align: right;
  font-size: 4em;
  font-weight: 700;
  font-style: italic;
  margin-top: -24px; }

#loadingHue {
  height: 2em;
  width: .5em;
  background-color: #CC5880;
  display: inline-block;
  margin-left: .5em; }

#cubeModel {
  background: url("../img/cubeModel.png") no-repeat;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em; }

#screen_about.active #cubeModel {
  -webkit-animation: levitate 8s ease-in-out infinite;
  -moz-animation: levitate 8s ease-in-out infinite;
  -ms-animation: levitate 8s ease-in-out infinite;
  -o-animation: levitate 8s ease-in-out infinite;
  animation: levitate 8s ease-in-out infinite; }

@-webkit-keyframes levitate {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(1em); } }
@-moz-keyframes levitate {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(1em); } }
@-ms-keyframes levitate {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(1em); } }
@-o-keyframes levitate {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(1em); } }
@keyframes levitate {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(1em); } }
@media (max-width: 1024px) {
  #screen_about .logo, #screen_about .col1 {
    width: 285px; }

  #screen_about .col2 {
    width: 350px; }

  #screen_about .rowContainer {
    height: 320px; }

  #panel_mouse {
    height: 130px; }

  #panel_shortcuts li {
    padding-left: 50px; } }
/*=======================*/
/* SCREEN : GAME COMPLETE
/*=======================*/
#screen_gameComplete input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 300px;
  transition: all .3s ease-out; }

#screen_gameComplete input:focus, #screen_gameComplete input[disabled] {
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 8px; }

#screen_gameComplete input::-webkit-input-placeholder {
  color: #37AEB8;
  text-transform: uppercase; }

/* WebKit browsers */
#screen_gameComplete input[disabled]::-webkit-input-placeholder {
  color: #CC5880; }

#screen_gameComplete input:-moz-placeholder {
  color: #37AEB8;
  text-transform: uppercase; }

/* Mozilla Firefox 4 to 18 */
#screen_gameComplete input[disabled]:-moz-placeholder {
  color: #CC5880; }

#screen_gameComplete input::-moz-placeholder {
  color: #37AEB8;
  text-transform: uppercase; }

/* Mozilla Firefox 19+ */
#screen_gameComplete input[disabled]::-moz-placeholder {
  color: #CC5880; }

#screen_gameComplete input:-ms-input-placeholder {
  color: #37AEB8;
  text-transform: uppercase; }

/* Internet Explorer 10+ */
#screen_gameComplete input[disabled]:-ms-input-placeholder {
  color: #CC5880; }

#screen_gameComplete input,
#screen_gameComplete .value {
  font-family: "Abel", sans-serif;
  color: #37AEB8;
  font-size: 1.5em; }

#screen_gameComplete .content {
  display: flex;
  flex-wrap: wrap; }

#screen_gameComplete .panel {
  flex: 1;
  flex-basis: calc(50% - 15px); }

#screen_gameComplete .panel:nth-child(2n+1) {
  margin-right: 15px; }

/*=======================*/
/* SCREEN : HIGH SCORES
/*=======================*/
#screen_highScores .col1 {
  width: 50px; }

#screen_highScores .col2, #screen_highScores .col3 {
  width: 200px; }

#screen_highScores .col4, #screen_highScores .col5 {
  width: 150px; }

#screen_highScores .row:not(.title) .col2 {
  text-transform: none; }

/*=======================*/
/* SCREEN : MAIN
/*=======================*/
/* Particles canvas ------------*/
#particles {
  position: absolute;
  width: 100%;
  height: 100%; }

/* Sidebar ------------*/
#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 3em;
  width: 18em;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.95);
  color: #CCC; }

#sidebar, #sidebar * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

#sidebar .logo {
  width: 200px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em; }

.timer {
  margin-bottom: 1.5em;
  padding-left: 3em; }

.timer .label {
  position: relative; }

.timer .value {
  font-family: "Abel", sans-serif;
  font-size: 2em;
  margin-top: .1em;
  display: block; }

#totalTime {
  margin-bottom: 3em; }

@media (max-height: 768px) {
  #menu {
    height: calc(100% - 225px);
    overflow-y: hidden; } }
#menu button {
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  background: rgba(255, 255, 255, 0.025);
  margin-bottom: 1px;
  text-align: left;
  padding-left: 3em;
  font-style: italic;
  font-size: .9em;
  transition: all .25s .5s ease-out; }

#menu button:before, .cta:before {
  content: "";
  width: .75em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #37AEB8;
  transition: width 0.5s cubic-bezier(0, 1, 1, -0.5), background 0.25s ease-out; }

#menu button[disabled]:before, .cta[disabled]:before {
  background: #CC5880; }

#menu button:hover, body.paused #bt_pause, .cta:hover {
  color: #222;
  font-weight: 900; }

#menu button:hover:before, body.paused #bt_pause:before, .cta:hover:before {
  width: 100%; }

#menu button i {
  float: right;
  margin-right: 1.5em;
  line-height: 2.5em; }

html:not(.debug) #bt_resetCube {
  display: none; }

/*=======================*/
/* PSYCHO-CUBE
/*=======================*/
#psychoCube {
  position: absolute;
  transform-style: preserve-3d;
  width: 27em;
  height: 27em;
  transform: translate3d(27em, 27em, -27em); }

#protoCube, #protoPyramid {
  display: none; }

.cube {
  position: absolute;
  width: 9em;
  height: 9em;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: 13.5em 13.5em 0em;
  will-change: transform, opacity;
  transition: opacity .2s ease-in-out; }

body:not(.moving) .cube:hover {
  cursor: pointer; }

body.selecting .cube:not(.selected) {
  opacity: .15;
  -webkit-animation: transparency 2s ease-out infinite;
  -moz-animation: transparency 2s ease-out infinite;
  -ms-animation: transparency 2s ease-out infinite;
  -o-animation: transparency 2s ease-out infinite;
  animation: transparency 2s ease-out infinite; }

@-webkit-keyframes transparency {
  0%, 100% {
    opacity: .15; }
  50% {
    opacity: .35; } }
@-moz-keyframes transparency {
  0%, 100% {
    opacity: .15; }
  50% {
    opacity: .35; } }
@-ms-keyframes transparency {
  0%, 100% {
    opacity: .15; }
  50% {
    opacity: .35; } }
@-o-keyframes transparency {
  0%, 100% {
    opacity: .15; }
  50% {
    opacity: .35; } }
@keyframes transparency {
  0%, 100% {
    opacity: .15; }
  50% {
    opacity: .35; } }
/* Tridiv style base START ------------*/
/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
#tridiv {
  perspective: 800px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
  transform: translateZ(0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

#scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d; }

#scene {
  width: 80em;
  height: 80em;
  left: calc(50% - (80em - 18em) / 2);
  top: calc(50% - 80em / 2);
  transform-origin: 50% 50% -27em; }

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%; }

.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */ }

.face {
  background-size: 100% 100% !important;
  background-position: center; }

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%; }

.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.side {
  left: 50%; }

.cr, .cr .side {
  height: 100%; }

[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%; }

[class*="cuboid"] .bk {
  left: 100%; }

[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%); }

[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%); }

[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%); }

[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%); }

[class*="cuboid"] .lt {
  left: 100%; }

[class*="cuboid"] .bm {
  top: 100%; }

[class*="pyramid"] > .face-wrapper .face {
  transform: rotateZ(45deg) translateX(-35.35%) translateY(35.35%); }

[class*="pyramid"] > .bk {
  left: 100%; }

[class*="pyramid"] > .bm {
  top: 100%;
  transform: rotateX(-90deg) translateY(-50%); }

[class*="pyramid"] > .rt, [class*="pyramid"] > .lt {
  transform-origin: 50% 0; }

/* Tridiv style base END ------------*/
/* Block cubes ------------*/
.block {
  transform: translate3D(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
  opacity: 1;
  width: 9em;
  height: 9em;
  margin: -4.5em 0 0 -4.5em; }

.block .ft {
  transform: translateZ(4.5em); }

.block .bk {
  transform: translateZ(-4.5em) rotateY(180deg); }

.block .rt, .block .lt {
  width: 9em;
  height: 9em; }

.block .tp, .block .bm {
  width: 9em;
  height: 9em; }

.block .face {
  background-color: rgba(18, 18, 18, 0.75);
  box-shadow: inset 0 0 1em 0.25em rgba(255, 255, 255, 0.025); }

.block .ft {
  width: 9em;
  margin-left: 0; }

.block .bk {
  width: 9em;
  margin-left: 0; }

.block .rt, .block .lt {
  width: 9em; }

.block .tp, .block .bm, .block .tp .photon-shader, .block .bm .photon-shader {
  border-radius: 0; }

.block .cr {
  width: 0;
  left: 0; }

.block .cr-0 {
  transform: translate3D(9em, 0, 4.5em); }

.block .cr-1 {
  transform: translate3D(9em, 0, -4.5em); }

.block .cr-2 {
  transform: translate3D(0, 0, -4.5em); }

.block .cr-3 {
  transform: translate3D(0, 0, 4.5em); }

.block .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, -0.025em); }

.block .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, -0.025em); }

.block .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, -0.025em); }

.block .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, -0.025em); }

.block .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, -0.025em); }

.block .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, -0.025em); }

.block .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, -0.025em); }

.block .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, -0.025em); }

.block .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, -0.025em); }

.block .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, -0.025em); }

.block .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, -0.025em); }

.block .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, -0.025em); }

.block .side {
  width: 0.025em; }

/* Pyramid stickers ------------*/
.pyramid {
  opacity: 1;
  width: 9em;
  height: 3em;
  margin: -1.5em 0 0 -4.5em;
  transition: transform .2s ease-out;
  will-change: transform; }

.pyramid > .face-wrapper {
  width: 9em;
  height: 4.5em; }

.pyramid > .face-wrapper .face {
  width: 9em;
  height: 9em;
  background-color: rgba(18, 18, 18, 0.75); }

.pyramid > .ft {
  transform: scaleZ(1.20185) scaleY(1.20185) rotateX(56.30993deg); }

.pyramid > .bk {
  transform: scaleZ(1.20185) scaleY(1.20185) rotateX(-56.30993deg) rotateY(180deg); }

.pyramid > .rt {
  transform: scaleX(1.20185) scaleY(1.20185) rotateZ(56.30993deg) rotateY(-90deg); }

.pyramid > .lt {
  transform: scaleX(1.20185) scaleY(1.20185) rotateZ(-56.30993deg) rotateY(90deg); }

.pyramid > .bm {
  width: 9em;
  height: 9em; }

/* Pyramid orientations ------------*/
.pyramid-front {
  transform: translate3D(0, 0, 6em) rotateX(90deg) rotateY(0deg) rotateZ(180deg); }

.pyramid-back {
  transform: translate3D(0, 0, -6em) rotateX(90deg) rotateY(0deg) rotateZ(0deg); }

.pyramid-top {
  transform: translate3D(0, -6em, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }

.pyramid-bottom {
  transform: translate3D(0, 6em, 0) rotateX(180deg) rotateY(0deg) rotateZ(0deg); }

.pyramid-left {
  transform: translate3D(-6em, 0, 0) rotateX(90deg) rotateY(0deg) rotateZ(-90deg); }

.pyramid-right {
  transform: translate3D(6em, 0, 0) rotateX(90deg) rotateY(0deg) rotateZ(90deg); }

/* Pyramid colors ------------*/
.color-red > .face-wrapper .face {
  box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }

html:not(.noGlow) .color-red > .face-wrapper .face {
  -webkit-animation: redBorder 2s ease-out infinite;
  -moz-animation: redBorder 2s ease-out infinite;
  -ms-animation: redBorder 2s ease-out infinite;
  -o-animation: redBorder 2s ease-out infinite;
  animation: redBorder 2s ease-out infinite; }

.color-orange > .face-wrapper .face {
  box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }

html:not(.noGlow) .color-orange > .face-wrapper .face {
  -webkit-animation: orangeBorder 2s ease-out infinite;
  -moz-animation: orangeBorder 2s ease-out infinite;
  -ms-animation: orangeBorder 2s ease-out infinite;
  -o-animation: orangeBorder 2s ease-out infinite;
  animation: orangeBorder 2s ease-out infinite; }

.color-white > .face-wrapper .face {
  box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }

html:not(.noGlow) .color-white > .face-wrapper .face {
  -webkit-animation: whiteBorder 2s ease-out infinite;
  -moz-animation: whiteBorder 2s ease-out infinite;
  -ms-animation: whiteBorder 2s ease-out infinite;
  -o-animation: whiteBorder 2s ease-out infinite;
  animation: whiteBorder 2s ease-out infinite; }

.color-green > .face-wrapper .face {
  box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }

html:not(.noGlow) .color-green > .face-wrapper .face {
  -webkit-animation: greenBorder 2s ease-out infinite;
  -moz-animation: greenBorder 2s ease-out infinite;
  -ms-animation: greenBorder 2s ease-out infinite;
  -o-animation: greenBorder 2s ease-out infinite;
  animation: greenBorder 2s ease-out infinite; }

.color-yellow > .face-wrapper .face {
  box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }

html:not(.noGlow) .color-yellow > .face-wrapper .face {
  -webkit-animation: yellowBorder 2s ease-out infinite;
  -moz-animation: yellowBorder 2s ease-out infinite;
  -ms-animation: yellowBorder 2s ease-out infinite;
  -o-animation: yellowBorder 2s ease-out infinite;
  animation: yellowBorder 2s ease-out infinite; }

.color-blue > .face-wrapper .face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }

html:not(.noGlow) .color-blue > .face-wrapper .face {
  -webkit-animation: blueBorder 2s ease-out infinite;
  -moz-animation: blueBorder 2s ease-out infinite;
  -ms-animation: blueBorder 2s ease-out infinite;
  -o-animation: blueBorder 2s ease-out infinite;
  animation: blueBorder 2s ease-out infinite; }

@-webkit-keyframes redBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@-moz-keyframes redBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@-ms-keyframes redBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@-o-keyframes redBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@keyframes redBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@-webkit-keyframes orangeBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@-moz-keyframes orangeBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@-ms-keyframes orangeBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@-o-keyframes orangeBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@keyframes orangeBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@-webkit-keyframes whiteBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@-moz-keyframes whiteBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@-ms-keyframes whiteBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@-o-keyframes whiteBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@keyframes whiteBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@-webkit-keyframes greenBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@-moz-keyframes greenBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@-ms-keyframes greenBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@-o-keyframes greenBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@keyframes greenBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@-webkit-keyframes yellowBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@-moz-keyframes yellowBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@-ms-keyframes yellowBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@-o-keyframes yellowBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@keyframes yellowBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@-webkit-keyframes blueBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
@-moz-keyframes blueBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
@-ms-keyframes blueBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
@-o-keyframes blueBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
@keyframes blueBorder {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
/* Pyramid square roofs ------------*/
.roof {
  transform: translate3D(0, -1.375em, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 0.75em;
  height: .25em;
  margin: -0.125em 0 0 -0.375em; }

.roof .ft {
  transform: translateZ(0.375em); }

.roof .bk {
  transform: translateZ(-0.375em) rotateY(180deg); }

.roof .rt, .roof .lt {
  width: 0.75em;
  height: .25em; }

.roof .tp, .roof .bm {
  width: 0.75em;
  height: 0.75em; }

/* Pyramid square roofs colors ------------*/
.color-red .roof .face {
  background: rgba(200, 0, 0, 0.25);
  box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }

html:not(.noGlow) .color-red .roof .face {
  -webkit-animation: redRoof 2s ease-out infinite;
  -moz-animation: redRoof 2s ease-out infinite;
  -ms-animation: redRoof 2s ease-out infinite;
  -o-animation: redRoof 2s ease-out infinite;
  animation: redRoof 2s ease-out infinite; }

.color-orange .roof .face {
  background: rgba(200, 100, 0, 0.25);
  box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }

html:not(.noGlow) .color-orange .roof .face {
  -webkit-animation: orangeRoof 2s ease-out infinite;
  -moz-animation: orangeRoof 2s ease-out infinite;
  -ms-animation: orangeRoof 2s ease-out infinite;
  -o-animation: orangeRoof 2s ease-out infinite;
  animation: orangeRoof 2s ease-out infinite; }

.color-white .roof .face {
  background: rgba(200, 200, 200, 0.25);
  box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }

html:not(.noGlow) .color-white .roof .face {
  -webkit-animation: whiteRoof 2s ease-out infinite;
  -moz-animation: whiteRoof 2s ease-out infinite;
  -ms-animation: whiteRoof 2s ease-out infinite;
  -o-animation: whiteRoof 2s ease-out infinite;
  animation: whiteRoof 2s ease-out infinite; }

.color-green .roof .face {
  background: rgba(0, 200, 0, 0.25);
  box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }

html:not(.noGlow) .color-green .roof .face {
  -webkit-animation: greenRoof 2s ease-out infinite;
  -moz-animation: greenRoof 2s ease-out infinite;
  -ms-animation: greenRoof 2s ease-out infinite;
  -o-animation: greenRoof 2s ease-out infinite;
  animation: greenRoof 2s ease-out infinite; }

.color-yellow .roof .face {
  background: rgba(200, 200, 0, 0.25);
  box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }

html:not(.noGlow) .color-yellow .roof .face {
  -webkit-animation: yellowRoof 2s ease-out infinite;
  -moz-animation: yellowRoof 2s ease-out infinite;
  -ms-animation: yellowRoof 2s ease-out infinite;
  -o-animation: yellowRoof 2s ease-out infinite;
  animation: yellowRoof 2s ease-out infinite; }

.color-blue .roof .face {
  background: rgba(0, 0, 200, 0.25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }

html:not(.noGlow) .color-blue .roof .face {
  -webkit-animation: blueRoof 2s ease-out infinite;
  -moz-animation: blueRoof 2s ease-out infinite;
  -ms-animation: blueRoof 2s ease-out infinite;
  -o-animation: blueRoof 2s ease-out infinite;
  animation: blueRoof 2s ease-out infinite; }

@-webkit-keyframes redRoof {
  0%, 100% {
    background: rgba(200, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    background: rgba(200, 0, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@-moz-keyframes redRoof {
  0%, 100% {
    background: rgba(200, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    background: rgba(200, 0, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@-ms-keyframes redRoof {
  0%, 100% {
    background: rgba(200, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    background: rgba(200, 0, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@-o-keyframes redRoof {
  0%, 100% {
    background: rgba(200, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    background: rgba(200, 0, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@keyframes redRoof {
  0%, 100% {
    background: rgba(200, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 0, 0, 0.5); }
  50% {
    background: rgba(200, 0, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 0, 0, 0.75); } }
@-webkit-keyframes orangeRoof {
  0%, 100% {
    background: rgba(200, 100, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    background: rgba(200, 100, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@-moz-keyframes orangeRoof {
  0%, 100% {
    background: rgba(200, 100, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    background: rgba(200, 100, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@-ms-keyframes orangeRoof {
  0%, 100% {
    background: rgba(200, 100, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    background: rgba(200, 100, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@-o-keyframes orangeRoof {
  0%, 100% {
    background: rgba(200, 100, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    background: rgba(200, 100, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@keyframes orangeRoof {
  0%, 100% {
    background: rgba(200, 100, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 100, 0, 0.5); }
  50% {
    background: rgba(200, 100, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 100, 0, 0.75); } }
@-webkit-keyframes whiteRoof {
  0%, 100% {
    background: rgba(200, 200, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    background: rgba(200, 200, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@-moz-keyframes whiteRoof {
  0%, 100% {
    background: rgba(200, 200, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    background: rgba(200, 200, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@-ms-keyframes whiteRoof {
  0%, 100% {
    background: rgba(200, 200, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    background: rgba(200, 200, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@-o-keyframes whiteRoof {
  0%, 100% {
    background: rgba(200, 200, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    background: rgba(200, 200, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@keyframes whiteRoof {
  0%, 100% {
    background: rgba(200, 200, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0.5); }
  50% {
    background: rgba(200, 200, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 200, 0.75); } }
@-webkit-keyframes greenRoof {
  0%, 100% {
    background: rgba(0, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    background: rgba(0, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@-moz-keyframes greenRoof {
  0%, 100% {
    background: rgba(0, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    background: rgba(0, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@-ms-keyframes greenRoof {
  0%, 100% {
    background: rgba(0, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    background: rgba(0, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@-o-keyframes greenRoof {
  0%, 100% {
    background: rgba(0, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    background: rgba(0, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@keyframes greenRoof {
  0%, 100% {
    background: rgba(0, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 200, 0, 0.5); }
  50% {
    background: rgba(0, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 200, 0, 0.75); } }
@-webkit-keyframes yellowRoof {
  0%, 100% {
    background: rgba(200, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    background: rgba(200, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@-moz-keyframes yellowRoof {
  0%, 100% {
    background: rgba(200, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    background: rgba(200, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@-ms-keyframes yellowRoof {
  0%, 100% {
    background: rgba(200, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    background: rgba(200, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@-o-keyframes yellowRoof {
  0%, 100% {
    background: rgba(200, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    background: rgba(200, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@keyframes yellowRoof {
  0%, 100% {
    background: rgba(200, 200, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(200, 200, 0, 0.5); }
  50% {
    background: rgba(200, 200, 0, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(200, 200, 0, 0.75); } }
@-webkit-keyframes blueRoof {
  0%, 100% {
    background: rgba(0, 0, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    background: rgba(0, 0, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
@-moz-keyframes blueRoof {
  0%, 100% {
    background: rgba(0, 0, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    background: rgba(0, 0, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
@-ms-keyframes blueRoof {
  0%, 100% {
    background: rgba(0, 0, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    background: rgba(0, 0, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
@-o-keyframes blueRoof {
  0%, 100% {
    background: rgba(0, 0, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    background: rgba(0, 0, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
@keyframes blueRoof {
  0%, 100% {
    background: rgba(0, 0, 200, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 200, 0.5); }
  50% {
    background: rgba(0, 0, 200, 0.5);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 200, 0.75); } }
/*=======================*/
/* CUBE ROTATION MENU
/*=======================*/
#rotationMenu {
  position: absolute;
  width: 130px;
  height: 130px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  z-index: 20;
  transform: scale(1.5) translate(-50%, -50%); }

#rotationMenu.open {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  pointer-events: auto; }

/* SVG elements ------------*/
#circulus {
  display: block;
  margin: 0 auto; }

#circulus .item {
  cursor: pointer;
  outline: none; }

/* You can change these default styles any way you want */
#circulus .item .sector {
  fill: rgba(18, 18, 18, 0.75);
  transition: all .15s ease-out; }

#circulus .item:hover .sector,
#circulus .item:focus .sector {
  fill: #37AEB8; }

#circulus text {
  font-family: "FontAwesome";
  fill: #CCC;
  font-size: 4em;
  text-anchor: middle;
  transition: fill .15s ease-out; }

#circulus .item:hover text {
  fill: #222; }

#circulus .menu-trigger {
  fill: rgba(200, 200, 200, 0.5);
  /*pointer-events: auto;  KEEP THIS to make sure it stays clickable even when SVG's pointer events is disabled */
  transition: fill .15s ease-out; }

#circulus .menu-trigger:hover, #circulus .menu-trigger:focus {
  fill: #CC5880;
  cursor: pointer; }

#circulus symbol {
  overflow: visible; }

/* KEEP THIS so that text will not get cut off it it is wider than the icon width */
